:root {
  --colour-primary: #f2f2f2;
  --colour-primary-major: #e6e6e6;
  --colour-primary-minor: #ffffff;
  --colour-primary-disabled: #a6a6a6;

  --colour-secondary: #21252b;
  --colour-secondary-major: #16181d;
  --colour-secondary-minor: #2c313a;
}
